<body>
    <header class="header-container">
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="/" class="menu__link">DocArch</a>
                </li>
                <li class="menu__item">
                    <a href="/add-doc" class="menu__link">Add Doc</a>
                </li>
                <li class="menu__item">
                    <a href="/" class="menu__link">Doc Manager</a>
                </li>
                <li class="menu__item">
                    <a href="/category" class="menu__link">Categories</a>
                </li>
            </ul>
        </nav>
    </header>

