<%- include('./includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="form.css"> -->
</head>
<%- include('./includes/navegation.ejs') %>
<main>
    <h1>add</h1>
</main>
<%- include('./includes/footer.ejs') %>
